apiVersion: v1
kind: Service
metadata:
  name: games-service
  labels:
    app: games-service
spec:
  selector:
    app: games
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
  type: ClusterIP
